<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technician Register</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo2.png">
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>

    <div class="container">
        <div class="box">
            <h1>Technician Registration</h1>
            <img src="/images/profile_16331016.png" alt="">
            <form action="/technician-register" method="post">
                <div class="form">
                    <label for="username">Name:</label>
                    <input type="text" id="username" name="username" required placeholder="Enter your name"><br>
                    <label for="mobileNo">Mobile No:</label>
                    <input type="number" id="mobileNo" name="mobileNo" required placeholder="Enter mobile number"><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required placeholder="Enter password"><br>
                    <button type="submit">Register</button>
                    <div class="end">Already have an account?<a href="/technician-login"> Login here</a></div>
                </div>
            </form>

        </div>
    </div>

</body>

</html>