<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/styles/dash.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="section-bar">
        <div class="logo">
            <h1>Auto Care</h1>
            <img src="/images/logo2.png" alt="">
        </div>
        <div class="section-option">
            <div class="option">
                <ul>
                    <li><a href="">Dashboard</li></a>
                    <li><a href="">Services</li></a>
                    <li><a href="">Market Place</li></a>
                    <li><a href="">Settings</li></a>
                </ul>
            </div>
            <div class="logout">
                <a href="">Log Out</a>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <h1>Hello, <%= username %> !</h1>
        <ul>
            <li><i class='bx bx-moon'></i></li>
            <li><i class='bx bxs-user-circle'></i></li>
        </ul>
    </div>
    <div class="content">
        <div class="content-list">
            <h2>Service Status</h2>
            <div class="table-container">

                <table>
                    <!-- <caption>Service Status</caption> -->
                    <tr>
                        <th>Name</th>
                        <th>Service</th>
                        <th>Cost</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Oil Change</td>
                        <td>$29.99</td>
                        <td>Completed</td>
                    </tr>
                    <tr>
                        <td>Jane Smith</td>
                        <td>Tire Replacement</td>
                        <td>$120.00</td>
                        <td>In Progress</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Mike Johnson</td>
                        <td>Car Wash</td>
                        <td>$15.00</td>
                        <td>Pending</td>

                </table>
            </div>
        </div>
        <div id="container">
            <div class="pic">
                <img src="/images/chatbot.jpg" alt="">
            </div>
            <div class="box">
                <input type="text" id="questionInput" placeholder="Ask your question here..."><br>
                <button id="askButton">Ask</button>
                <div id="answerContainer"></div>
            </div>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
</body>

</html>