@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Outfit;
}

.section-bar{
    width: 35vh;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    flex-direction: column;
    color: white;
    margin-top: 10px;
}
.logo img{
    width: 50%;
    border-radius: 25px;
    margin-bottom: 30px;
    padding: 5px;
}
.section-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 188px);
}
.option ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid grey;
    border-radius: 10px;
    width:35vh;
}
.option ul li:hover{
    background-color: grey;
}
.option ul li  a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 35vh;
    border-radius: 10px;
    border-top: 1px solid grey;
}
.logout:hover{
    background-color: grey;
}
.logout a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.top-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35vh;
    width: calc(100vw - 35vh);
    background-color: #001e2b;
    color: white;
    height: 60px;
    border-bottom: 1px solid grey;
}
.top-bar h1{
    margin-left: 15px;
}
.top-bar ul{
    display: flex;
    column-gap: 20px;
    margin-right: 20px;
}
.top-bar ul li{
    cursor: pointer;
    font-size: 30px;
    list-style: none;
}

.content{
    position: relative;
    background-color: #001e2b;
    margin-left: 35vh;
    width: calc(100vw - 35vh);
    height: calc(100vh - 61px);
}

.content-list{
    position: absolute;
    width: 60%;
    height: 80%;
    border: 2px solid grey;
    background-color: black;
    color: white;
    top: 5%;
    left: 5%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    overflow-y: auto;
}
.content-list::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Hide scrollbar */
}

.content-list h2{
    padding: 10px 0;
}

.content-list table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    
}
.content-list th, .content-list td {
    padding: 8px;
    text-align: center;
    border: 1px solid white;

}


#container {
    position: absolute;
    background-color: black;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px;
    right: 5%;
    top: 5%;
    box-sizing: border-box;
}

.pic img {
    border-radius: 25px;
    width: 30%;
    margin-bottom: 10px;
}

#questionInput {
    border-radius: 15px;
    border: 1px solid grey;
    width: 90%;
    padding: 10px;
}

#askButton {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid grey;
    margin-top: 10px;
}

#answerContainer {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    color: white;
    height: 250px;
    overflow: auto;
}